.container-elements-home{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cards-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 15px;
}

.box-card{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 25%) ;
    gap: 40px;
    padding: 100px 0px 120px 0px;
    
}

.title-card{
    font-size: 32px;
    text-align: center;
}

.box-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-card{
    height: 200px;
    width: 200px;
    border-radius: 15px;
}

.description-card{
    margin-left: 25px;
    margin-right: 25px;
}

.btn-add{
    border: none;
    background-color: #06283c;
    color: white;
    border-radius: 5px;
    margin-left: 25%;
    margin-right: 25%;
}